In [2]:
from langchain_groq import ChatGroq
llm = ChatGroq(
    temperature=0,
    groq_api_key="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",
    model="llama-3.1-70b-versatile"
)

In [6]:
import pandas as pd

file_path = "C:\\Users\\shawn\\.credentials\\pnc document (1).xlsx"
df = pd.read_excel(file_path,header=1)
df = df.dropna(subset=df.columns[1:], how='all')
df.loc[0:2, 'Balance'] = df.loc[0:2, 'Deposit']
df.loc[2:23, 'Balance'] = df.loc[2:23, 'Category']

df.loc[0:1, 'Deposit'] = None
df=df.drop(['Category'],axis=1)
df=df.fillna(0)
df

,Date,Description,Withdrawal,Deposit,Balance
1,Jan 7,Septa,52.00,0.00,84.72
2,Jan 2,McDonald's,19.14,136.72,0.00
4,Dec 31,Walmart,36.20,0.00,155.86
5,Dec 31,ATM DEPOSIT XX1535 DEPOSIT 1305 MAIN ST WARRIN...,0.00,190.00,192.06
6,Dec 30,Edge Fitness,21.99,0.00,2.06
7,Dec 26,Wikimedia Foundation,3.10,0.00,24.05
8,Dec 26,Chick-fiI-A,3.18,0.00,27.15
9,Dec 24,Cosimo Pizza,7.50,0.00,30.33
10,Dec 23,NANUS HOT CHICKEN VIS 1219 PHILADELPHI PA,13.35,0.00,37.83
11,Dec 17,McDonald's,9.62,0.00,51.18
12,Dec 16,Edge Fitness,59.99,0.00,60.80
13,Dec 16,Amazon Market ace,14.83,0.00,120.79
14,Dec 16,Old Nelson Food Market,6.74,0.00,135.62
15,Dec 9,Old Nelson Food Market,4.49,0.00,142.36
16,Dec 9,Septa,26.00,0.00,146.85
17,Dec 4,YOUVERSION BIBLE APP VIS 1203 HTTPSWWW.YO OK,2.00,0.00,172.85
18,Dec 3,Edge Fitness,20.50,0.00,174.85
19,Dec 2,Target,29.65,0.00,195.35
21,Nov 29,ONLINE TRANSFER TO XX2743,25.00,0.00,225.00
22,Nov29,1305 MAIN ST DEPOSIT WARRINGTON PA,0.00,250.00,250.00